@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap')
@font-face
  font-family: 'GothamPro'
  src: url("../fonts/GothamPro/GothamPro-Light.woff") format("woff"), 
  url("../fonts/GothamPro/GothamPro-Light.ttf") format("truetype")
  font-weight: 300
  font-style: normal 
  font-display: swap
  
*
  font-family: "GothamPro", sans-serif
  text-decoration: none
  box-sizing: border-box
body
  overflow-x: hidden
  padding-top: 186px
.flex
  display: flex
  align-items: center
  justify-content: space-between
.wrapper
  position: relative
  width: 100%
  margin: 0 auto
  max-width: 1350px
  padding: 0 15px